<div class="container" style="margin:0 auto;">
	<h1>Articulos</h1> 
	<%= link_to "Crear Articulo", "articles/new", class: "blue" %>
	<div class="row">
		<%=render @articles%>
	</div>
	<div class="top-space text-center">
		<%= will_paginate @articles %>
	</div>
	
</div>

	

